<h2>Hello from PizzaShop</h2>

<div class="row">
  <% @products.each do |product| %>
     <div class="col-md-3 product">
       <img width="250px" height="150px" src="<%= product.path_to_image %>" ></img>
       <p><%= product.title %></p>
       <p>Description: <%= product.description %></p>
       <p>Price: <%= product.price %> rub</p>
       <p>Size: <%= product.size %> sm</p>
     <!--       <p>Spicy: <%#= product.is_spicy %></p>-->
     <!--       <p>Vegetar: <%#= product.is_veg %></p>-->
     <!--       <p>Best: <%#= product.is_best_offer %></p>-->
       <button class="btn btn-success" onclick="add_to_cart(<%= product.id %>)">Add to cart</button>
     </div>
  <% end %>
</div>
<br>
<button class="btn btn-primary"  onclick="something()">Click me!</button>
